---
layout: layouts/hlavni-sablona.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}


<main class="main">

<article class="article">

	<h1 class="article__title">{{ title }}</h1>

	<p class="article__meta">Publikováno {{ page.date }}</p>
	<div class="article__content">

		<div class="article__text">

			<p class="article__perex">tady bude perex</p>

            {{ content | safe}}

		</div>

		<img class="article__image" src="/images/astronaut.jpg" alt="Astronaut na cizí planetě">

	</div>

</article>


</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}